api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        security: "is_granted('IS_AUTHENTICATED_FULLY')"
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        normalization_context:
            enable_max_depth: true
            datetime_format: 'Y-m-d'
        pagination_enabled: true
        pagination_client_enabled: true
        pagination_items_per_page: 30
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
        api_keys:
            JWT:
                name: Authorization
                type: header
    openapi:
        swagger_ui_extra_configuration:
            persistAuthorization: true
    mapping:
        paths:
            - '%kernel.project_dir%/src/Entity'
            - '%kernel.project_dir%/src/Dto'
