

.o2-cell-two-line {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
}

.o2-cell-main {
  line-height: 16px;
  font-weight: 600;
}

.o2-cell-sub {
  line-height: 16px;
  font-size: 12px;
  color: #555;
  margin-top: 4px; /* increased gap */
}