{# templates/pdf/_footer.html.twig #}
<div style="width:100%; font-size:7.5px; line-height:1.2; margin:0; padding:1px 3px; color:#6b7280;">
  <div style="border-top:1px solid #e5e7eb; margin-bottom:2px;"></div>
  <div style="text-align:right;">
    Page [page] of [toPage]
  </div>
</div>