{# templates/pdf/_header.html.twig #}
<!DOCTYPE html>
<html lang="{{ locale|default(app.request.locale|default('en')) }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>header</title>
    <style>
      .hdr-divider { border-bottom: 1px solid #e5e7eb; margin-top: 3px; }
    </style>
  </head>
  <body>
    <div class="hdr-divider"></div>
  </body>
  </html>